
footer.footer
    .wrapper__iner
        a(href="#").footer__logo
            img(src="images/footer_logo.png" alt="")
        .footer-right-block
            mixin social('footer')
            mixin nav('footer')
    .copy
        | All rights reserved. 2015. no copy alowed
