header.header
    .header-bg
        .container-block
            .wrapper__iner
                .container-social
                    mixin social('header')
                .contacts-header
                    .contacts-header__block
                        | ул. Маяковская 6, офис 17
                    .contacts-header__block.contacts-header__block_phone-number
                        | +7 (921) 123-12-13
    .wrapper__iner
        .container-block
            a(href="#").logo
                img(src="images/logo.png", alt="logo").logo__img
            .search-block
                form.search__form
                    input(type="search" name="search" placeholder="Что будем искать").search__field
                    input(type="submit" value="Найти").search__submit
            ul.block-user
                - var userLink = ['Карта проезда', 'История заказов', 'Корзина']
                    each item, idx in userLink
                        li.block-user__item
                            a(href="#").block-user__link= item
    .header-bg
        .wrapper__iner
            mixin nav('header', 'Мобильные телефоны')
    .wrapper__iner
        include _bredcrums
