nav.nav
    .container
        ul.nav__list
            li.nav__item
                a(href="#").nav__link Главная
            li.nav__item.nav__item_active
                a(href="#").nav__link Новости
            li.nav__item
                a(href="#").nav__link О компании
            li.nav__item
                a(href="#").nav__link Сравнениеdfgdfdfgd