%letter-spacing{
    letter-spacing: -0.3em;
}

%inline-block{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

%text-indent{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%border{
    border:  1px solid rgb( 222, 225, 228 );
    border-radius: 4px;
}


%clearfix {
    &:before, &:after{
    content: "";
    display: table;
    }
    &:after{
        clear: both;
    }
}

$color-font: #333333;

.header-bg{
    background: #fff;
    border-bottom: 2px solid #ebedef;
}

.header{
    width: 100%;
}

.container-block{
    @extend %clearfix;
    @extend %letter-spacing;
    padding: 28px 0 30px;
}

.container-social{
    float: left;
}

//@import "compass";
//@import "socials/*png";

.social{
    @extend %letter-spacing;
}

.social_header{
    margin-left: -16px;
}

.social__item{
    @extend %inline-block;
}

.social__item_header{
    margin-left: 16px;
}

.socials__link{
    display: block;
    border-radius: 50%;
    @extend %text-indent;
}

.social__link_header{
    background: #333333;
    height: 26px;
    width: 26px;
}

.contacts-header{
    float: right;
    @extend %letter-spacing;
//    padding:  30px 0 30px;
    margin-left: -111px;
}


.contacts-header__block{
    margin-left: 111px;
    @extend %inline-block;
    font: 14px / 24px 'open_sansregular';
}

.contacts-header__block_phone-number{
    font: 18px / 24px 'open_sanssemibold';
}

.logo{
    @extend %inline-block;
    width: 21.8%;
    height: 36px;
}

.logo__img{
    width:100%;
    height: auto;
}

.search-block{
    @extend %inline-block;
    margin-left: 5.2%;
    width: 33.333%;
}

.search__form{
    display: table;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.search__field{
    background-color: rgba( 255, 255, 255, 0.6 );
    @extend %border;
    padding: 7px 14px;
    width: 70.3%;
    font: 14px 'open_sanslight';
    display: table-cell;
}

.search__submit{
    border: none;
    padding: 6px 16px;
    border-radius: 0 3px 3px 0 ;
    background: #ff6600;
    color: #ffffff;
    margin-left: -0.5%;
    display: table-cell;
}

.block-user{
    @extend %inline-block;
    margin:8px 0 0 4.4%;
    width: 35.333%;
    letter-spacing: -0.3em;
}

.block-user__item{
    @extend %inline-block;
    margin-left: 7%;
    &:first-child{
        margin-left: 0;
    }
}

.block-user__link{
    text-decoration: underline;
    color: $color-font;
    font: 16px 'open_sanssemibold';
    text-align: center;
    &:hover{
        color: #f60;
    }
}

.navigation{
    display: table;
    width: 100%;
}

.navigation__item{
    display: table-cell;
}

.navigation__item_header{

}

.navigation__link_header{
    display: block;
    padding: 15px 7%;
    color:$color-font;
    text-decoration: none;
    font: 16px 'open_sansregular';
    &:hover{
        background: #e4e2e2;
    }
    &.navigation__link_active{
        background: #ff6e35;
        color: #fff;
    }
}


.bredcrums__list{
    @extend %letter-spacing; 
    margin-left: -1.5%;
}

.bredcrums{
    padding-top: 24px;
}

.bredcrums__item{
    @extend %inline-block; 
    margin-left: 1.5%;
}

.bredcrums__link{
    color: $color-font;
    position: relative;
    font: 14px / 20px 'open_sansregular';
    &:after{
        content: '>';
        display: block;
        position: absolute;
        top: 0;
        right: -21%;
        
    }
}


.bredcrums__link_active{
    color: #ff6600;
    &:after{
        content: '';
        display: none;
    }
}







