
%padding{
    padding-left:8.4%;
    padding-right: 8.4%;
}

%margin-el{
    margin-left: 10px;
}

.sidebar{
    float: left;
    width: 30.2%;
    margin-right: 2.1%;
    position: relative;
}


.active-category{
    font-size: 20px;
    padding: 19px 0 28px
}

.sidebar-list__link{
    display: block;
    font: 14px 'open_sansregular';
}

.product-line{
    @extend %border;
    background: #fbfbfb;
    margin-bottom:38px;
    padding: 0;
}

.product-line__item{

}

.product-line__link{
    padding-top: 13px;
    padding-bottom: 13px;
    color: #5d656c;
    @extend %padding;
    display: block;
    font: 14px 'open_sansregular';
}

.product-line__link_active{
    background: #d9e5ea;
    display: block;
}

.form-sidebar{
    @extend %border;
    background: #fbfbfb;
    overflow: hidden;
}

.sidebar-list{
    @extend %padding;
    border-bottom: 1px solid #dee1e4;
}

.title-filter{
    @extend %padding;
    padding-top: 11px;
    padding-bottom: 7px;
    font: 16px 'open_sanssemibold';
}

.shop-list{
    padding-bottom: 12px;
}

.shop-filter__item{
    padding-top: 7px;
    padding-bottom: 7px;
}

.check{
    display: block;
}

label .shop-filter__check {
    & + .radio{
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(../images/radio.png) left top no-repeat;
        cursor:pointer;
    }
    &:checked + .radio {
        background:url(../images/radio-active.png) center center no-repeat;
    }
    & + .check{
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(../images/check.png) left top no-repeat;
        cursor:pointer;
    }
    &:checked + .check {
        background:url(../images/check-active.png) center center no-repeat;
    }
}

.accordion{
    display: none;
}

.accordion__active{
    display: block;
}


.shop-filter__check{
    display: none;
}

.shop-filter__reset{
    color: #5db2fc;
    text-decoration: underline;
    font: 14px 'open_sansregular';
}

.price-list{
    @extend %letter-spacing;
}

.price-list{
    @extend %padding;
    padding-bottom: 46px;
}

.price_item{
    @extend %inline-block;
    padding: 0;
    margin-left: 14.4%;
    width: 41.5%;
    padding: 8px 0;
    &:first-child{
       margin-left: 0;
    }
}

.price__field{
    width: 61px;
    @extend %border;
    padding: 2px 8px;
    @extend %margin-el;

}

.color-list{
    @extend %letter-spacing;
    margin-left: -11px;
    margin-top: -4px;
}

.color__item{
    height: 35px;
    width: 35px;
    border: 1px solid #dee1e4;
    @extend %inline-block;
    margin: 13px 11px;
}

$bg-item-list: (#ffffff, #cccccc, #000000, #0a3153, #ff1800, #fff343, #fb914a, #92c37c, #40a6ff, #9870ad, #dc78ad, #7f401d);
@each $bg in $bg-item-list {
    $i: index($bg-item-list, $bg);
    .color__item_#{$i}{
        background: $bg;
    }
};

.turn{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 4%;
    top: 214px;
    background: #000;
    cursor: pointer;
}

